@import "../../styles/base";

.container {
  @include desktop-only {
    margin: 0 $spacing-between-cards-desktop $spacing-between-cards-desktop 0;
  }

  @include mobile-only {
    margin: 0 0 $spacing-between-cards-mobile 0;
    width: 100%;
  }
}

.loader {
  text-align: center;
  margin: 3rem 0;
}
