$card-padding: 16px;
$chart-image-size: 350px;
$chart-crop-top: 25px;

.card {
  min-width: 300px;
}

.chart {
  margin-top: -$chart-crop-top;
  max-width: 100%;
  -webkit-clip-path: inset($chart-crop-top 0 0 0);
}

.currencySymbol {
  // React-toolbox sets display mode to block for <Avatar /> component and breaks <Chip /> component
  display: inline-block !important;
}

.exchangeRate {
  margin-bottom: 1rem;
}

.cardBody {
  padding-top: 0;
  padding-bottom: 0;
}

.cardActions {
  padding-top: 0;
}

// Bug in React-toolbox - line-height is not being set properly for links
.actionButton {
  line-height: 3.5rem !important;
}
