@import "~react-toolbox/lib/commons"; // Global styles, including normalize.css
@import "../../styles/global";
@import "../../styles/base";

.widgets {
  display: flex;
  flex-wrap: wrap;
  padding: $spacing-between-cards-mobile;

  @include desktop-only {
    padding: $spacing-between-cards-desktop;
  }
}
