@import "~react-toolbox/lib/commons"; // Global styles, including normalize.css
@import "../../styles/base";

.container {
  background: $palette-grey-50;
  height: 100%;
}

.widgets {
  display: flex;
  flex-wrap: wrap;
  padding: $spacing-between-cards-mobile;

  @include desktop-only {
    padding: $spacing-between-cards-desktop;
  }
}
