@import "../../../styles/base";

.sideBySide {
  display: flex;
  align-items: baseline;

  * {
    margin-right: 0.5em;
  }
}

.expenses {
  color: $palette-red-400;
  font-size: 2.5rem;
}

.currencySymbol {
  // React-toolbox sets display mode to block for <Avatar /> component and breaks <Chip /> component
  display: inline-block !important;
}

.table {
  width: 100%;

  td {
    padding: 0 0.5em 0.3em 0;
  }

  .amount {
    text-align: right;
    font-weight: bold;
  }

  .tableHeader {
    margin-top: 0.3em;
  }
}

.loader {
  text-align: center;
  margin: 3rem 0;
}
