@import "../../../styles/base";

.expenses {
  color: $palette-red-400;
  font-size: 2.5rem;
}

.currencySymbol {
  // React-toolbox sets display mode to block for <Avatar /> component and breaks <Chip /> component
  display: inline-block !important;
}

.table {
  width: 100%;

  td {
    padding: 0 0.5rem 0.3rem 0;
  }

  .amount {
    text-align: right;
    font-weight: bold;
  }

  .tableHeader {
    margin-top: 0.3rem;
  }
}

.cardBody {
  padding-bottom: 0;
}

// Bug in React-toolbox - line-height is not being set properly for links
.actionButton {
  line-height: 3.5rem !important;
}
