@import "../../../styles/base";

.card {
  min-width: 260px;
}

.time {
  font-size: 8rem;
  color: $palette-light-blue-800;
  font-weight: 500;

  span {
    display: inline-block;
    margin-right: .8rem;
  }
}

.date {
  font-size: 2rem;
}
